name: Run Whisper on Audio

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  transcribe:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 
      - name: Install FFmpeg
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg

      - name: Install Whisper
        run: |
          pip install openai-whisper

      
      - name: Run Whisper Transcription
        run: |
          # Make sure aapke repo me 'audio.mp3' naam ki file root folder me ho
          whisper "audio.mp3" --model medium --output_format vtt --word_timestamps True --threads 4 
        

      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: transcription-result
          path: audio.vtt
